#parse("header.html")
<div id="main">
    <h1>$!{vote.questionName}</h1>
    <form action="/vote/chose">

        #foreach($vo in $vos)
        <input type="radio" name="que" value = $!{vo.ques.OptionId}>$!{vo.ques.option}<br>
        #end
        <input type="submit" value="投票">
        <input type="text" name="user" value=$!{user.UserName} style="display: none">
        <input type="text" name="questionId" value=$!{vote.questionId} style="display: none">
    </form>
    </div>

</div>

<footer>
    <div class="container">
        <p class="text-center">
            <a href="http://nowcoder.com/about">关于我们</a>
            <a href="http://nowcoder.com/download">头条客户端</a>
        </p>
        <p class="text-center">© 2013-2016 头条八卦</p>
    </div>

</footer>

<div id="quick-download">
    <button type="button" class="close-link btn-link" data-toggle="modal" data-target="#quick-download-app-modal"><i class="fa icon-times-circle"></i></button>

    <a class="download-link" href="http://nowcoder.com/download">
        <h3>牛客网</h3>
        <h4>程序员的首选学习分享平台</h4>
        <button type="button" class="btn btn-info btn-sm">下载 APP</button>
    </a>

    <div class="modal fade" id="quick-download-app-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">提示</div>
                <div class="modal-body">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input id="already-installed" type="checkbox"><i></i> 我已安装了牛客网App，不再显示
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-default" id="close-quick-download-app-modal">关 闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/main/base/base.js"></script>
<script type="text/javascript" src="/scripts/main/base/util.js"></script>
<script type="text/javascript" src="/scripts/main/base/event.js"></script>
<script type="text/javascript" src="/scripts/main/component/component.js"></script>
<script type="text/javascript" src="/scripts/main/component/popup.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupLogin.js"></script>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>

#if ($pop)
<script>
    window.loginpop = $!{pop};
</script>
#end
#parse("footer.html")